.browser{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}

.browser img {
  max-height: 100vh;
  max-width: 100%;
}
.browser.full img{
  width: 100%;
  max-height: none;
}

.info{
  flex: 1 0 0;
}

.page-scrolling{
  flex: 2 0 0;
  text-align: center;
}

.page{
  flex: 2 0 0;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.good {
  background-color: #00ff00;
  text-align: center;
}
.warn {
  background-color: #ffff00;
  text-align: center;
}
.error{
  background-color: #ff0000;
  text-align: center;
}
#img-one, #img-two {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
#img-one img, #img-two img{
  width: 100%;
}